* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html[dir="rtl"] {
  text-align: right;
}

html[dir="ltr"] {
  text-align: left;
} */
[dir="rtl"] .btn-close {
  margin-left: 0 !important;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
}

.p-section {
  padding: 60px;
}

.showdowForRow {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(171, 171, 171, 1);
  box-shadow: 0px 0px 10px 5px rgba(171, 171, 171, 1);
  border-radius: 15px;
}

.rs-input-group-addon {
  display: none !important;
}

/* .rs-picker-daterange-header {
  display: none !important;
} */

.rs-picker-error>.rs-picker-input-group {
  border-color: transparent !important;
}

.form-control {
  border: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-Overflow: ellipsis;
}

.form-control:focus {
  /* border: 2px solid #292268; */
  box-shadow: none !important;
  ;
}

/* .input-group.customInputGroup {
  width: auto !important;
  border: 2px solid #c9c9cf;
  border-radius: 6px;
} */

.input-group.customInputGroup:focus {
  border: 2px solid green !important;
}

.input-group.customInputGroup {
  width: auto;
  border: 2px solid #c9c9cf;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.input-group.customInputGroup:has(.form-control:focus) {
  border: 2px solid #292268 !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: #292268 !important;
}

.rs-btn.rs-btn-primary {
  background-color: #292268 !important;
}

.rs-picker-toolbar-ranges.rs-stack {
  display: none;
}

.footer .footerLinks {
  color: white !important;
  text-decoration: none;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  background: #f8f9fa;
  /* Light gray background */
}

.auth-container {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-button {
  background: #ca2030;
  /* Your theme red */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button:hover {
  background: #a81b28;
}

.auth-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.auth-link {
  color: #1a237b;
  /* Your theme blue */
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.pickupAndDropPickerInHeader:hover {
  cursor: pointer;
}

.rs-picker-input-group.rs-input-group.rs-input-group-inside {
  display: none !important;
}

.rs-picker-popup {
  z-index: 1060 !important;
  /* position: absolute !important; */
}

/* hide default toggle password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.react-tel-input {
  width: 50px !important;
}

.priceDetails {
  text-decoration: underline;
  cursor: pointer;
}

:dir(rtl) .liTick:before {
  content: "\2713";
  margin-left: 12px;
  margin-right: 0px;
  color: #1a1a1a;
}

.liTick:before {
  content: "\2713";
  margin-right: 12px;
  color: #1a1a1a;
}

.liTick {
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 25px;
  text-indent: -25px;
}

.liContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.liCross {
  color: #ababab;
  margin-bottom: 0;
  padding-left: 25px;
  text-indent: -25px;
}

:dir(rtl) .liCross:before {
  content: "\2715";
  margin-left: 12px;
  margin-right: 0px;
  color: #c9c9cf;
}

.liCross:before {
  content: "\2715";
  margin-right: 12px;
  color: #c9c9cf;
}

.bookingOverview .liContainer {
  margin-bottom: 15px;
}

.rs-toggle-checked .rs-toggle-presentation {
  background-color: #292268 !important;
}

.dropdown-item:hover {
  background-color: #ababab !important;
  border-radius: 10px;
}

.hrStyle {
  width: 100%;
  background-color: #ababab;
  height: 1px;
}

.marginTopHeroImage {
  margin-top: -197px;
}

.datePickerGroup {
  display: flex;
  gap: 15px;
}
/* button.customLoginFormBtn {
  background-color: white !important;
  color: black !important;
  border: 2px solid transparent !important;
} */
.pickupRetunSpanStyle {
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  border: 1px solid #292268;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #292268;
}

.hoverAddressStyle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.hoverDetailedAddressStyle {
  color: #ababab;
  font-size: 15px;
  font-weight: 600;
}

.pcInputFixedWidth {
  width: 154px !important;
}

.pcTimeInputFixedWidth {
  width: 128px !important;
}

span.input-group-text {
  padding-right: 0 !important;
}

:dir(rtl) .input-group-text {
  padding-left: 0 !important;
  padding-right: 12px !important;
}

.input-group-text {
  background-color: transparent !important;
  border: 0 !important;
}

.language-modal .btn-close {
  margin-right: 0 !important;
}
.displayBlock{
  display: block;
}

.form-floating > label::after {
  background-color: transparent !important;
}
.sec-6 .entakly-business-services {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 50%;
  font-size: 11px;
  padding: 5px 5px;
}
.pickerModalBodyFlex{
  overflow: visible !important;
}
.sec-6-box-container{
  width: 90%;
}

/* ul.country-list .country{
text-align: left !important;
} */
html[dir="ltr"] ul.country-list .country {
  text-align: left !important;
}

/* For RTL (e.g., Arabic) */
html[dir="rtl"] ul.country-list .country {
  text-align: right !important;
}
/* Fix the dial code order in RTL so + comes before the number */
html[dir="rtl"] .country-list .dial-code {
  direction: ltr !important; /* ensures + stays on the left */
  unicode-bidi: plaintext !important; /* prevents bidirectional flipping */
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.bookingCarImageBg{
  position: relative;
  width: 150px;
  height: 115px;
  background: url('/images/carBg.webp') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 1200px) {}

@media(max-width:1200px) {
  .pickerForMob {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .marginTopHeroImage {
    margin-top: -260px !important;
  }

  .carDetails {
    flex-direction: column !important;
    height: auto !important;
  }

  .rs-picker-input-group.rs-input-group.rs-input-group-inside {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .mobileHeaderIcons {
    display: none;
  }

  .mobilePickupAndDropPicker {
    display: none;
  }

  .pcDisplayNone {
    display: none;
  }
}

@media (max-width:992px) {
  .pickerModalHeight {
    height: auto !important;
  }

  .pickerModalBodyFlex {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .tabDisplayNone {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mobDisplayNone {
    display: none !important;
  }

  .marginTopHeroImage {
    margin-top: -56px !important;
  }



  .input-group.customInputGroup {
    margin-bottom: 10px;
  }

  .pickerForMob {
    padding: 8px !important;
  }

  .input-group.inputGroupBorRad {
    border-radius: 30px !important;
  }

  .heroHeading {
    font-size: 32px !important;
    line-height: 42px !important;
  }

  .containerPaddingMob {
    padding: 12px !important;
  }

  .p-section {
    padding: 24px;
    text-align: center;
  }

  .flex-justify {
    justify-content: center;
  }

  .sec-4 {
    bottom: 18px !important;
    left: 32px !important;
  }

  .sec-4 .heading {
    font-size: 18px !important;
  }

  .sec-4 .text {
    font-size: 9px !important;
    margin-bottom: 12px !important;
    margin-top: 2px !important;
  }

  .sec-4 .imageButton {
    font-size: 9px !important;
    padding: 6px 10px !important;
  }

  .sec-5 .heading {
    font-size: 20px;
  }

  .sec-5 .text {
    font-size: 15px;
  }

  .sec-5-linkGramLogo {
    max-width: 350px !important;
    max-height: 111px !important;
  }

  .sec-6 .secHeading {
    font-size: 35px !important;
  }

  .sec-6 {
    padding: 12px 0px !important;
  }

  .sec-6 .heading {
    font-size: 30px !important;
  }

  .sec-6 .text {
    font-size: 15px !important;
    margin-bottom: 12px;
    margin-top: 0;
  }

  .sec-6 .textContainer {
    top: 65px !important;
  }

  .sec-6 .chatNowButton {
    font-size: 12px;
    padding: 6px 10px !important;
  }

  .sec-6 .sec-6-width {
    width: 90% !important;
  }

  .mobDisplayNone {
    display: none !important;
  }
  .sec-6-box-container{
    width: 90%;
  }

}


@media (max-width: 576px) {
  .heroHeading {
    font-size: 26px !important;
    line-height: 34px !important;
    margin-bottom: 8px !important;
  }

  .p-section {
    padding: 18px;
  }

  .sec-3 .subText {
    font-size: 17px !important;
  }

  .sec-5 {
    margin: 0px 10px 20px 10px !important;
  }

  .sec-6 .sec-6-width {
    width: 90% !important;
  }

  .sec-6 .textContainer {
    top: 32px !important;
  }

  .sec-7 .imageText {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .sec-6 .text {
    margin-bottom: 12px !important;
  }

  .sec-7 .textOnImage {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .sec-7 .sub-text {
    margin-bottom: 0 !important;
  }

  .submitButton {
    padding: 10px 30px;
  }

  .pickupAndDropPickerInHeader {
    margin-left: 0px !important;
  }

  .headerGapInCarsPageMobile {
    gap: 15px;
  }

  .custom-tabs {
    overflow-x: overlay !important;
    overflow-y: hidden !important;
    flex-wrap: nowrap !important;
  }

  .styleForVeryTopHeader {
    font-size: 12px;
    font-weight: 700;
  }

  .imgDimension {
    width: 100px !important;
    height: 100px !important;
  }

  .sec-4 .heading {
    font-size: 13px !important;
  }
  .sec-6 .entakly-business-services {
    font-size: 9px;
  }
}

@media (max-width: 380px) {
  .headerLogo {
    width: 135px !important;
    height: auto !important;
  }
}